<div class="row">
  <div class="col-md-12">
    <div class="newPanel">
      <redirects-form [hidden]="!user"></redirects-form>
      <div [hidden]="user"></div>
    </div>
  </div>
</div>

<div class="row ma-filters">
  <div class="col-md-12">
    <h4>Redirects:</h4>
    <form class="form-inline" >
      <input type="text" style="width:300px;"class="form-control" #searchtext placeholder="Search by host, path or url">
      <button type="button" class="btn btn-primary" (click)="search(searchtext.value)">Search</button>
      Sort by :
        <select class="form-control" #sortBy (change)="changeSortBy(sortBy.value)">
            <option value="name" selected>Hostname</option>
            <option value="description" >Path</option>
            <option value="redirect" >URL</option>
            <option value="redirect" >Creator</option>
            <option value="tests" >Fail Count</option>
            <option value="tests" >User</option>
        </select>
        <select class="form-control" #sortOrder (change)="changeSortOrder(sortOrder.value)">
            <option value="1" selected>Ascending</option>
            <option value="-1">Descending</option>
        </select>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item">
        <!--<pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>-->
      </li>

      <!--<li *ngFor="let rd of redirects" class="list-group-item ma-party-item">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
                <!--<div class="ma-party-name">-->
                  <!--<b><a [routerLink]="['/redirect', rd._id]">{{party.name}}/{{rd.description}} => {{rd.redirect}}</a></b>-->
                    <!--<br>{{party.owner}}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
      <!--</li>-->

      <li class="list-group-item">
        <!--<pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>-->
      </li>
    </ul>
  </div>

</div>
